---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <p><em>{frontmatter.description}</em></p>
    <p>{frontmatter.pubDate}</p>
    <div class="tags">
        {frontmatter.tags.map((tag) => (
        <p>Tags:     <a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
    </div>
    <slot />
</BaseLayout>

<style>
       
.tags {
    display: flex; 
    flex-wrap: wrap; 
}

.tag {
    margin: 0.25em;
    border: dotted 1px #424242;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #424242;
}
</style>